<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--=============== CSS ===============-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.png')}}"
      type="image/x-icon"
    />
    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>DermaFacts</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo"
          >DermaFacts<i class="bx bxs-flask"></i>
        </a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <span>Home</span>
              </a>
            </li>
            {% if filename %}
            <li class="nav__item">
              <a href="#results" class="nav__link">
                <span>Results</span>
              </a>
            </li>
            {% endif %}
            <li class="nav__item">
              <a href="#footer" class="nav__link">
                <span>About</span>
              </a>
            </li>
          </ul>
          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>
        </div>
        <div class="nav__btns">
          <!-- Theme change button -->
          <i class="bx bx-moon" id="theme-button" style="display: none"></i>
          <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-menu"></i>
          </div>
        </div>
      </nav>
    </header>
    <!--=============== HEADER ===============-->
    <main class="main">
      <!--==================== HOME ====================-->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">DermaFacts</h1>
            <p class="home__description">
              <span
                style="
                  color: var(--first-color);
                  font-weight: var(--font-semi-bold);
                "
                >DermaFacts</span
              >
              can identify some of the most common dermatological conditions
              including
              <span
                style="
                  color: var(--first-color);
                  font-weight: var(--font-semi-bold);
                "
                >Mpox with RNN, CNN, and GNN</span
              >
            </p>
            <div class="outer-headings">
              <h1 class="text first__text">
                The system uses following neural networks,
                <div class="inner-headings">
                  <span>
                    MobileNetV2<br />
                    InceptionResnetV2<br />
                    VGG-16<br />
                    VGG-19<br />
                    Xception<br />
                    Resnet50V2<br />
                    InceptionV3<br />
                    LSTM<br />
                    GRU<br />
                    GCN<br />
                    DualGCN<br />
                    GIN<br />
                    GAT<br />
                  </span>
                </div>
              </h1>
            </div>
            <form action="/" method="post" enctype="multipart/form-data">
              <div class="home__input-wrapper">
                <label for="file" class="home__input">Select Image</label>
                <input
                  name="file"
                  type="file"
                  id="file"
                  autocomplete="off"
                  required
                  class="home__input"
                  style="display: none"
                />
                <button type="submit" class="button button--flex">
                  Submit <i class="bx bxs-chevrons-right"></i>
                </button>
              </div>
            </form>
            <div style="width: 100%; margin-top: var(--mb-1)">
              {% with messages = get_flashed_messages() %} {% if messages %}
              <ul>
                {% for message in messages %}
                <li style="color: #8e0a0a">{{message}}</li>
                {% endfor %}
              </ul>
              {% endif %} {% endwith %}
            </div>
          </div>
          <div class="home__img">
            {% if filename %}
            <img src="{{ url_for('views.display_image', filename=filename)}}" />
            {% else %}
            <img src="{{url_for('static', filename='derma.gif')}}" />
            {% endif %}
          </div>
        </div>
      </section>
      <!--==================== RESULTS ====================-->
      {% if filename %}
      <section class="results section container" id="results">
        <div class="results__container grid">
          <img src="{{ url_for('views.display_gradcam', filename=filename)}}" />
          <div class="results__data">
            <p class="results__description">Prediction</p>
            <h2 class="section__title results__title">{{predicted_derma}}</h2>
            <p
              class="results__description"
              style="font-weight: var(--font-semi-bold)"
            >
              <em>{{derma_data[1]}}</em>
            </p>
            <p class="results__description">{{derma_data[2]}}</p>
            <p class="results__description">
              Threat to humans: {% if 'Danger' in fish_data[4] %}
              <span style="color: #8e0a0a; font-weight: var(--font-semi-bold)"
                >{{fish_data[4]}}</span
              >
              {% else %}
              <span style="color: #046f04; font-weight: var(--font-semi-bold)"
                >{{fish_data[4]}}</span
              >
              {% endif %}
            </p>
          </div>
        </div>
        <div class="net__bg">
          <p
            style="
              color: #fff;
              font-size: var(--h3-font-size);
              width: 100%;
              text-align: center;
            "
          >
            Model Accuracies
          </p>
          <div class="net__container grid">
            {% for key in predictions %}
            <div class="net__card">
              <div class="net__card-net">{{key.upper()}}</div>
              <h3 class="net__card-prediction">{{predictions[key]}}</h3>
              <p class="net__card-accuracy">
                {% if values[key]> 100 %} 100 {% else %} {{values[key]}} {%
                endif %}%
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      {% endif %}
    </main>
    <footer class="footer section" id="footer">
      <div class="footer__container container grid">
        <div class="footer__content">
          <a href="#" class="footer__logo">
            DermaFacts <i class="bx bxs-flask footer__logo-icon"></i>
          </a>
          <h3 class="footer__title">CNN Models</h3>
          <ul class="footer__data grid">
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/mobilenet/"
                class="footer__social-link"
                target="_blank"
              >
                MobileNetV2
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/resnet/"
                class="footer__social-link"
                target="_blank"
              >
                Resnet50V2
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/vgg/"
                class="footer__social-link"
                target="_blank"
              >
                VGG-16
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/vgg/"
                class="footer__social-link"
                target="_blank"
              >
                VGG-19
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/xception/"
                class="footer__social-link"
                target="_blank"
              >
                Xception
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/inceptionresnetv2/"
                class="footer__social-link"
                target="_blank"
              >
                InceptionResnetV2
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
            <li class="footer__information">
              <i class="bx bxs-check-circle model_enumeration"></i>
              <a
                href="https://keras.io/api/applications/inceptionv3/"
                class="footer__social-link"
                target="_blank"
              >
                InceptionV3
                <i class="bx bx-right-arrow-alt right_arrow_wiki"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__content">
          <h3 class="footer__title">Designed By,</h3>
          <ul class="footer__data">
            <li class="footer__information">
              <a
                href="https://nipunaupeksha.framer.website/"
                class="footer__social-link"
                target="_blank"
              >
                Nipuna Upeksha
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__content">
          <h3 class="footer__title">Contact</h3>
          <ul class="footer__data">
            <div class="footer__social">
              <a
                href="mailto:nipuna.upeksha@gmail.com"
                class="footer__social-link"
                target="_blank"
              >
                <i class="bx bx-envelope"></i>
              </a>
              <a
                href="https://www.github.com/nipunaupeksha"
                class="footer__social-link"
                target="_blank"
              >
                <i class="bx bxl-github"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/nipunaupeksha"
                class="footer__social-link"
                target="_blank"
              >
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </ul>
        </div>
      </div>
      <p class="footer__copy">
        &#169; Nipuna Upeksha 2025. All rights reserverd.
      </p>
    </footer>

    <!--=============== JS ===============-->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='jquery-3.6.3.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='main.js')}}"
    ></script>
  </body>
</html>
